<!-- <span>&copy; <%= Time.now.year %> - <%= SiteConfig.app_name %></span> -->

<!-- Footer Section Start -->
<footer class="footer"          
  <div class="container">
    <div class="copyright">
      <p><%= Time.now.year %> &copy; afterwind.cn 成都后风科技有限公司版权所有&emsp;蜀ICP备17018851号-2</p>
    </div>
  </div>
</footer>
<!-- Footer Section End --> 