    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand"><%= image_tag 'logo.png', class:'img-fulid', alt: '' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">首页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">服务中心</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#cases">成功案例</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#partners">服务客户</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">关于我们</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">联系我们</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">首页</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">服务中心</a>
            </li>
            <li>
              <a class="page-scroll" href="#cases">成功案例</a>
            </li>
            <!-- <li>
              <a class="page-scroll" href="#partners">服务客户</a>
            </li> -->
            <li>
              <a class="page-scroll" href="#about">关于我们</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">联系我们</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">互联网一站式软件外包服务平台</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">企业软件解决方案，移动端APP定制，游戏开发，微信开发</p>
              <!-- <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a> -->
            </div>
          </div>
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 